label {
  display: inline-block;
  width: 120px;
  height:25px;
  text-align: left;
  margin:7px;
  color: white;
  padding-bottom: 10px;
}

div{
text-align: center;
padding-right: 10px;
}

input {
	margin: 10px;
	
}
